@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
.banner {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
}
.banner .logo {
  width: 60%;
  display: flex;
  justify-content: center;
  padding-left: 38%;
}
.banner .logo a {
  display: block;
}
.banner .logo a img {
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: #FFEEDD;
}
.footer .footer-div {
  display: flex;
  justify-content: space-evenly;
}
.footer .footer-div .footer-img {
  width: 10%;
}
.footer .footer-div img {
  max-width: 100%;
}

.pie {
  background-color: black;
  width: 100%;
  color: white;
  margin: 0px 0px 0px 0px;
}

.div-galeria {
  padding: 10px;
}
.div-galeria .juegos-galeria {
  max-width: 70%;
  border: 3px black solid;
  margin: 0px 0px 50px 0px;
}
.div-galeria .juegos-galeria .img1 {
  grid-area: img1;
}
.div-galeria .juegos-galeria .img3 {
  grid-area: img3;
}
.div-galeria .juegos-galeria .img4 {
  grid-area: img4;
}
.div-galeria .juegos-galeria .img5 {
  grid-area: img5;
}
.div-galeria .juegos-galeria .img6 {
  grid-area: img6;
}
.div-galeria p {
  font-size: 120%;
  font-family: "Chewy", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
  width: 80%;
  height: 80%;
}
.div-galeria p .texto1 {
  grid-area: texto1;
}
.div-galeria p .texto3 {
  grid-area: texto3;
}
.div-galeria p .texto4 {
  grid-area: texto4;
}
.div-galeria p .txt5 {
  grid-area: txt5;
}
.div-galeria p .txt6 {
  grid-area: txt6;
}

.cont-grid {
  display: grid;
  grid-template-areas: "img1 textol textol" "texto3 texto3 img3" "img4 texto4 texto4" "txt5 txt5 img5" "img6 txt6 txt6";
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  padding-top: 2%;
}
.cont-grid .img1 {
  grid-area: img1;
}
.cont-grid .textol {
  grid-area: textol;
}
.cont-grid .texto3 {
  grid-area: texto3;
}
.cont-grid .img3 {
  grid-area: img3;
}
.cont-grid .img4 {
  grid-area: img4;
}
.cont-grid .texto4 {
  grid-area: texto4;
}
.cont-grid .txt5 {
  grid-area: txt5;
}
.cont-grid .img5 {
  grid-area: img5;
}
.cont-grid .img6 {
  grid-area: img6;
}
.cont-grid .txt6 {
  grid-area: txt6;
}

body {
  background: linear-gradient(180deg, rgb(247, 207, 216) 51%, rgb(245, 245, 220) 55%, rgb(247, 207, 216) 60%);
}

body p {
  display: flex;
  justify-content: center;
  font-family: "Chewy", system-ui;
}

.parrafos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 0px 5px;
  padding-bottom: 10px;
  font-size: 150%;
}
.parrafos .parrafo-bvn {
  margin: 8px;
  font-family: "Chewy", system-ui;
  font-size: 120%;
}

.div-parrafo .parrafo-bvn-div {
  font-size: 120%;
  font-family: "Chewy", system-ui;
}

.bienvenida-texto {
  margin: 8px;
  color: #f5f5dc;
  display: flex;
  justify-content: center;
  background-image: url(../Imagenes-RJC/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: double underline;
  font-family: "Bungee Spice", sans-serif;
  font-size: 150%;
  text-shadow: 2px 2px 4px #000000;
  padding: 5% 0 5% 0;
}

.links {
  background-color: #FFDEDE;
  display: flex;
  justify-content: space-evenly;
  margin: 1px 0px 0px 0px;
}
.links .link {
  color: black;
}

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacto .form-contacto:focus {
  background-color: whitesmoke;
}

.div-pyr {
  margin: 5%;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div-pyr .pyr {
  list-style: none;
  margin: 3% 0 3% 0;
  font-size: 180%;
  font-family: "Chewy", system-ui;
}

.carrusel {
  width: 50%;
}

.cartas-flex {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=estilos.css.map */
