
@import "_variables";

.div-galeria {    
    padding: 10px;


    .juegos-galeria {
    max-width: 70%;        
    border: 3px black solid;
    margin: 0px 0px 50px 0px;
    .img1{
        grid-area: img1;
    }
    .img3{
        grid-area: img3;
    }
    .img4{
        grid-area: img4;
    }
    .img5{
        grid-area: img5;
    }
    .img6{
        grid-area: img6;
    }

}
       p {
    font-size: 120%;
    font-family: $fuente;
    @include flex;
    margin: 10px 0px 10px 0px;
    @include tamano (80%, 80%);
        .texto1{
        grid-area: texto1;

    }

    .texto3{
        grid-area: texto3;
    }
    
    .texto4{
        grid-area: texto4;
    }
   
    .txt5{
        grid-area: txt5;
    }
   
    .txt6{
        grid-area: txt6;
    }


}
 
}

.cont-grid {
    display: grid;
    grid-template-areas:
        "img1 textol textol"
        "texto3 texto3 img3"
        "img4 texto4 texto4"
        "txt5 txt5 img5"
        "img6 txt6 txt6";
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    padding-top: 2%;
.img1
 { grid-area: img1;
}
.textol
 { grid-area: textol;
}
.texto3
 { grid-area: texto3;
}
.img3
 { grid-area: img3;
}
.img4 
{ grid-area: img4;
}
.texto4
{ grid-area: texto4;
}
.txt5 
{grid-area: txt5;
 }
.img5 
{grid-area: img5; 
}
.img6 
{grid-area: img6; 
}
.txt6 
{grid-area: txt6; 
}
}


    
    
