

body{
    
background: linear-gradient(180deg,rgba(247, 207, 216, 1) 31%, rgba(245, 245, 220, 1) 52%, rgba(247, 207, 216, 1) 59%);
    
}
body p{
    display: flex;
    justify-content: center;
    font-family: "Chewy", system-ui;
}

.parrafos{
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0px 0px 5px;
padding-bottom: 10px;
    .parrafo-bvn{
    margin: 8px;
    font-family: "Chewy", system-ui;
    font-size: 120%;

    
}

}
.div-parrafo{
    .parrafo-bvn-div{
    font-size: 120%;
    font-family: "Chewy", system-ui;
}
}