@import "_variables";
body{
    
background: linear-gradient(180deg,rgba(247, 207, 216, 1) 51%, rgba(245, 245, 220, 1) 55%, rgba(247, 207, 216, 1) 60%);
    
}



body p{
    display: flex;
    justify-content: center;
    font-family: $fuente;
}

.parrafos{
@extend p;
align-items: center;
margin: 10px 0px 0px 5px;
padding-bottom: 10px;
font-size: 150%;
    .parrafo-bvn{
    margin: 8px;
    font-family: $fuente;
    font-size: 120%;

    
}

}
.div-parrafo{
    .parrafo-bvn-div{
    font-size: 120%;
    font-family: $fuente;
}
}