

body{
    
    background-color: #F7CFD8;
    
}
body p{
    display: flex;
    justify-content: center;
    font-family: "Chewy", system-ui;
}

.parrafos{
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0px 0px 5px;
padding-bottom: 10px;
    .parrafo-bvn {
    margin: 8px;
    font-family: "Chewy", system-ui;
    font-size: 150%;

    
}

}
.div-parrafo{
    .parrafo-bvn-div{
    font-size: 150%;
    font-family: "Chewy", system-ui;
}
}